img {
    height: 100px;
    width: 100px;
    padding: 0;
}

.slider {
    height: 200px;
    width: 200px;
    -webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
    /* background: red; */
}