@font-face {
    font-family: 'Menlo', 'Sans Serif';
    src: url('./Assets/Menlo-Regular.ttf');
} 

body {
    margin: 0;
    padding: 0;
    font-family: 'Menlo'
}

.body {
    background: linear-gradient(200deg, rgba(50, 110, 255, .6), rgba(255, 110, 100, .6));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, .8);
    border-radius: 5px;
}

.info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h1 {
    color:  rgba(0, 0, 0, .7);
    text-shadow: -3px 3px 5px rgba(0, 0, 0, .5);
    margin: 0;
}

.info h3 {
    color: rgba(0, 0, 0, .5);
    text-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, .5);
    text-shadow: -3px 3px 5px rgba(0, 0, 0, .5);
}

.contact p {
    margin: 0;
}

.links-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links {
    height: 30px;
    width: 30px;
    margin: 10px;
    transition: 250ms ease-out;
    border-radius: 5px;
    /* border: solid 2px white; */
    padding: 5px;
}

.links:hover {
    background: rgba(255, 255, 255, .8);
    box-shadow: 2px 2px 5px black;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.skills-button {
    background: rgba(150, 150, 150, 1);
    border-radius: 5px;
    border: solid 2px rgba(150, 150, 150, .1);
    position: absolute;
    height: 20px;
    padding: 5px;
    top: 30px; left: 30px;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background 200ms ease-out,
                transform 500ms ease-in;
    cursor: pointer;
}

.skills-button:hover {
    background: rgba(125, 125, 125, 1);
    transform: translate(0, -2px);
}

.skills {
    /* background: rgba(150, 150, 150, 1); */
    position: absolute;
    padding: 0;
    top: 0; left: -0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
    /* box-shadow: 10px 10px rgba(0, 0, 0, .2); */
    transition: 500ms ease-out;
}

#skills {
    transition: 500ms;
}

/* #skills-toggle:checked ~ .skills {
    transform: translate(120px, 0);
} */

#skills-toggle:checked ~ .skills-button {
    /* border-radius:  */
    transform: translate(0, -30px);
}

img {
    height: 100px;
    width: 100px;
    margin: 10px 0;
}

.projects-button {
    position: absolute;
    top: 30px; right: 30px;
    background: #222233;
    height: 30px;
    width: 30px;
    z-index: 2;
}

.projects {
    position: absolute;
    top: 0; right: 0;
    height: 100vh;
    overflow: auto;
    transition: 500ms;
}