@font-face {
    font-family: 'Menlo', 'Sans Serif';
    src: url('./Assets/Menlo-Regular.ttf');
} 

body {
    margin: 0;
    padding: 0;
    font-family: 'Menlo'
}

.body {
    background: linear-gradient(200deg, rgba(50, 110, 255, .6), rgba(255, 110, 100, .6));
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, .8);
    border-radius: 5px;
}

.info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info h1 {
    color:  rgba(0, 0, 0, .7);
    text-shadow: -3px 3px 5px rgba(0, 0, 0, .5);
    margin: 0;
}

.info h3 {
    color: rgba(0, 0, 0, .5);
    text-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
}

.header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, .5);
    text-shadow: -3px 3px 5px rgba(0, 0, 0, .5);
}

.contact p {
    margin: 0;
}

.links-container {
    /* position: absolute; */
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links {
    height: 30px;
    width: 30px;
    margin: 10px 20px;
    transition: 250ms ease-out;
    border-radius: 5px;
    padding: 5px;
}

.links:hover {
    background: rgba(255, 255, 255, .8);
    box-shadow: 2px 2px 5px black;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.skills {
    position: absolute;
    padding: 0;
    top: 0; left: 0;
    width: 250px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    z-index: 1;
    transition: 500ms ease-out;
}

#skill {
    transition: 500ms;
}

img {
    height: 75px;
    width: 75px;
    margin: 10px 0;
}

.projects-button {
    /* position: absolute; */
    top: 30px; right: 30px;
    background: black;
    height: 20px;
    width: 30px;
    z-index: 2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.projects {
    /* position: absolute; */
    bottom: 0; left: 0;
    width: 100%;
    overflow: auto;
    transition: 500ms;
    background: black;
    color: rgba(255, 255, 255, .5);
    z-index: 3;
}